*,
*::after,
*::before {
  box-sizing: border-box;
}
@font-face {
  font-family: "balqis";
  src: url("../fonts/balqis.woff2") format("woff2"),
    url("../fonts/balqis.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  color: #000;
  font-family: "RobotoCondensed-Light";
  font-size: 18px;
  line-height: 21px;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.page-section {
  margin: 200px auto;
  max-width: 1920px;
}
.title {
  font-family: "balqis";
  font-weight: 300;
  font-size: 96px;
  line-height: 128px;
  color: #e2ab3f;
  margin-bottom: 100px;
}
.title span {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  display: block;
  margin-top: -30px;
  font-family: "RobotoCondensed-LightItalic";
}
.header {
  background-image: url("../images/header-bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  &__top {
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
    font-family: "RobotoCondensed-Regular";
  }
  &__phone {
    padding-left: 40px;
    position: relative;
  }
  &__phone::before {
    content: "";
    position: absolute;
    background-image: url("../images/phone-icon.svg");
    width: 30px;
    height: 30px;
    left: 0;
  }
  &__title {
    padding-top: 152px;
    text-align: center;
    font-size: 250px;
    line-height: 334px;
    font-family: "balqis";
    font-weight: 300;
    span {
      display: block;
      text-align: right;
      font-size: 56px;
      line-height: 66px;
      margin-top: -66px;
      margin-right: 85px;
      font-family: "RobotoCondensed-LightItalic";
    }
  }
}

.menu__list-item {
  display: inline-block;
}
.menu__list-item + .menu__list-item {
  margin-left: 52px;
}
.menu__list-link:hover {
  text-decoration: underline;
}

.fairy-tail {
  &__inner {
    position: relative;
  }
  &__slider {
    width: 50%;
  }
  &__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &__body {
    width: 50%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }
  &__text {
    padding: 10px 0;
  }
  &__title span {
    margin-left: 185px;
  }
  &__body-title {
    font-family: "RobotoCondensed-Regular";
  }
}
.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.our-trip {
  &__slider {
    width: 50%;
    margin-left: auto;
  }
  &__inner {
    position: relative;
  }
  &__container {
    max-width: 1230px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 15px;
  }
  &__title span {
    margin-left: 240px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: start;
  }
  &__list {
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
  }
  &__list li:first-child {
    margin-bottom: 20px;
    font-family: "RobotoCondensed-Regular";
  }
  &__btn {
    font-family: "RobotoCondensed-Light";
    font-size: 24px;
    line-height: 28px;
    border: 1px solid #e2ab3f;
    padding: 11px 53px;
  }
  &__content {
    width: 50%;
    padding-right: 55px;
  }
}
.hotel {
  &__title {
    span {
      margin-left: 120px;
    }
  }
  &__inner {
    display: flex;
  }
  &__images {
    margin-right: 100px;
  }
  &__text {
    margin-bottom: 20px;
  }
  &__gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      margin-top: 50px;
    }
  }
}
.price {
  background-image: url(../images/price-bg.png);
  background-repeat: no-repeat;
  background-position: center right 15%;
  &__title {
    span {
      margin-left: 120px;
    }
  }
  &__on-title,
  &__off-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: "RobotoCondensed-Regular";
  }
  &__inner {
    display: flex;
  }
  &__on {
    margin-right: 70px;
    width: 530px;
  }
  &__list-item {
    margin-bottom: 20px;
  }
}
.contacts {
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__date {
    margin-bottom: 20px;
  }
  &__price {
    margin-left: 120px;
  }
  &__date,
  &__price {
    font-family: "balqis";
    font-size: 96px;
    color: #e2ab3f;
    line-height: 100px;
    font-weight: 300;
    span {
      display: block;
      font-size: 24px;
      line-height: 28px;
      color: #000;
      font-family: "RobotoCondensed-LightItalic";
      margin-top: -10px;
      margin-left: 205px;
    }
  }
  &__form {
    max-width: 383px;
    margin: 0 auto;
  }
  &__form-title {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 50px;
    font-family: "RobotoCondensed-Regular";
  }
  &__form-input {
    border: 1px solid #e2ab3f;
    display: block;
    margin-bottom: 20px;
    height: 50px;
    width: 100%;
    padding: 0 31px;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    font-family: "RobotoCondensed-Light";
    &::placeholder {
      color: #000;
    }
  }
  &__form-btn {
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    border: 1px solid #e2ab3f;
    background-color: transparent;
    padding: 11px 45px;
    font-family: "RobotoCondensed-Light";
    cursor: pointer;
  }
}
.footer {
  background-image: url(../images/footer-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding-top: 96px;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    font-size: 86px;
    line-height: 115px;
    font-family: "balqis";
  }
  &__contacts {
    width: 356px;
    height: 527px;
    background-size: cover;
    background-image: url(../images/footer-contacts-bg.png);
    background-repeat: no-repeat;
    text-align: center;
  }
  &__contacts-title {
    font-size: 86px;
    line-height: 115px;
    font-family: "balqis";
    color: #e2ab3f;
    margin-bottom: 50px;
    padding-top: 50px;
  }
  &__phone {
    margin-bottom: 20px;
    &::before {
      background-image: url(../images/footer-phone-icon.svg);
    }
  }
  &__email {
    &::before {
      background-image: url(../images/footer-mail-icon.svg);
    }
  }
  &__phone,
  &__email {
    display: inline-block;
    padding-left: 40px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;
      left: 0;
      top: -5px;
    }
  }
  &__social {
    margin-top: 38px;
    a {
      margin: 0 7px;
    }
  }
}

@media (max-width: 1620px) {
  .price {
    background-size: 250px;
  }
}
@media (max-width: 1460px) {
  .price {
    background-size: 200px;
  }
}
@media (max-width: 1240px) {
  .header {
    &__title {
      padding-top: 120px;
      font-size: 180px;
      line-height: 220px;
      span {
        font-size: 50px;
        margin-top: -50px;
      }
    }
  }
}

@media (max-width: 1196px) {
  .hotel__images {
    margin-right: 50px;
  }
  .price {
    background-size: 100px;
  }
}

@media (max-width: 1148px) {
  .hotel {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__content {
      margin-top: 20px;
    }
    &__gallery {
      justify-content: space-around;
    }
    &__images {
      margin-right: 0;
      width: 100%;
      height: auto;
    }
  }
  .price {
    background: none;
  }
}

@media (max-width: 1060px) {
  .contacts {
    &__images {
      width: 400px;
    }
  }
}
@media (max-width: 991px) {
  .page-section {
    margin: 100px 0;
  }
  .fairy-tail__container,
  .our-trip__container {
    position: static;
  }
  .fairy-tail,
  .our-trip {
    &__slider {
      width: 100%;
    }
    &__body {
      width: 100%;
      padding-left: 0;
    }
  }
  .our-trip {
    &__title {
      margin: 0 0 50px;
      text-align: left;
    }
    &__content {
      width: 100%;
      margin: 0 auto 50px;
      padding-right: 0;
    }
    &__list {
      margin: 5px auto;
      width: 50%;
    }
    &__btn {
      margin: 0 auto;
    }
  }
  .footer {
    height: 100%;
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media (max-width: 860px) {
  .contacts {
    &__date,
    &__price {
      font-size: 70px;
      line-height: 74px;
      span {
        font-size: 18px;
        line-height: 20px;
        margin-left: 150px;
      }
    }
    &__form-title {
      font-size: 18px;
      line-height: 20px;
    }
  }
}
@media (max-width: 840px) {
  .header {
    &__title {
      padding-top: 100px;
      font-size: 120px;
      line-height: 150px;
      span {
        font-size: 30px;
        margin-top: -44px;
      }
    }
    &__top {
      font-size: 20px;
      line-height: 24px;
    }
    &__phone::before {
      width: 25px;
      height: 25px;
      background-size: cover;
    }
  }
  .hotel {
    &__gallery a {
      width: 100%;
    }
    &__gallery a img {
      width: 100%;
    }
  }
  .price {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__on {
      margin-right: 0;
    }
    &__off {
      width: 530px;
    }
  }
  .contacts {
    &__inner {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__images {
      width: 100%;
      margin-top: 30px;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    &__text {
      font-size: 52px;
      line-height: 60px;
    }
  }
}
@media (max-width: 600px) {
  .header {
    &__top {
      justify-content: center;
      flex-wrap: wrap;
    }
    &__title {
      font-size: 80px;
      line-height: 120px;
      span {
        font-size: 22px;
        margin-top: -46px;
        margin-right: 15px;
      }
    }
  }
  .menu {
    width: 100%;
    text-align: center;
    margin: 0 0 25px;
  }
  .fairy-tail {
    &__item img {
      height: 50vh;
      width: 100%;
      object-fit: cover;
    }
    &__title span {
      margin-left: 110px;
    }
  }
  .our-trip {
    &__slider-item img {
      height: 50vh;
      width: 100%;
      object-fit: cover;
    }
    &__title span {
      margin-left: 150px;
    }
    &__list {
      width: 100%;
      font-size: 21px;
      line-height: 24px;
    }
  }
  .hotel {
    &__title {
      span {
        margin-left: 70px;
      }
    }
  }
  .price {
    &__title {
      span {
        margin-left: 75px;
      }
    }
  }
  .page-section {
    margin: 50px 0;
  }
  .title {
    margin-bottom: 25px;
    font-size: 60px;
    line-height: 110px;
  }
  .footer {
    &__contacts {
      background-size: contain;
      width: 300px;
      height: 444px;
    }
    &__contacts-title {
      font-size: 58px;
      line-height: 60px;
    }
    &__phone {
      font-size: 18px;
    }
    &__email {
      font-size: 16px;
    }
    &__text {
      font-size: 39px;
      line-height: 41px;
    }
  }
}

@media (max-width: 370px) {
  .header {
    &__title {
      font-size: 60px;
      line-height: 100px;
      span {
        font-size: 18px;
        margin-right: 0px;
      }
    }
  }
  .menu {
    width: 100%;
    text-align: center;
    margin: 0 0 25px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 18px;
  }
  .title {
    font-size: 50px;
    span {
      font-size: 20px;
    }
  }
  .fairy-tail {
    &__title span {
      margin-left: 90px;
    }
  }
  .our-trip {
    &__title span {
      margin-left: 125px;
    }
    &__list {
      width: 100%;
      font-size: 18px;
      line-height: 21px;
    }
  }
  .hotel {
    &__gallery a {
      margin-top: 18px;
    }
    &__title {
      span {
        margin-left: 60px;
      }
    }
  }
  .price {
    &__title {
      span {
        margin-left: 60px;
      }
    }
  }
  .contacts {
    &__date,
    &__price {
      font-size: 50px;
      line-height: 58px;
      span {
        font-size: 14px;
        line-height: 16px;
        margin-left: 110px;
      }
    }
    &__form {
      margin-top: 30px;
    }
  }
}
