*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "balqis";
  src: url("../fonts/balqis.woff2") format("woff2"), url("../fonts/balqis.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"), url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"), url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  color: #000;
  font-family: "RobotoCondensed-Light";
  font-size: 18px;
  line-height: 21px;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.page-section {
  margin: 200px auto;
  max-width: 1920px;
}

.title {
  font-family: "balqis";
  font-weight: 300;
  font-size: 96px;
  line-height: 128px;
  color: #e2ab3f;
  margin-bottom: 100px;
}

.title span {
  font-size: 24px;
  line-height: 28px;
  color: #000;
  display: block;
  margin-top: -30px;
  font-family: "RobotoCondensed-LightItalic";
}

.header {
  background-image: url("../images/header-bg.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 72px;
  font-size: 24px;
  line-height: 28px;
  font-family: "RobotoCondensed-Regular";
}

.header__phone {
  padding-left: 40px;
  position: relative;
}

.header__phone::before {
  content: "";
  position: absolute;
  background-image: url("../images/phone-icon.svg");
  width: 30px;
  height: 30px;
  left: 0;
}

.header__title {
  padding-top: 152px;
  text-align: center;
  font-size: 250px;
  line-height: 334px;
  font-family: "balqis";
  font-weight: 300;
}

.header__title span {
  display: block;
  text-align: right;
  font-size: 56px;
  line-height: 66px;
  margin-top: -66px;
  margin-right: 85px;
  font-family: "RobotoCondensed-LightItalic";
}

.menu__list-item {
  display: inline-block;
}

.menu__list-item + .menu__list-item {
  margin-left: 52px;
}

.menu__list-link:hover {
  text-decoration: underline;
}

.fairy-tail__inner {
  position: relative;
}

.fairy-tail__slider {
  width: 50%;
}

.fairy-tail__container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.fairy-tail__body {
  width: 50%;
  margin-left: auto;
  padding-left: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
}

.fairy-tail__text {
  padding: 10px 0;
}

.fairy-tail__title span {
  margin-left: 185px;
}

.fairy-tail__body-title {
  font-family: "RobotoCondensed-Regular";
}

.slick-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.our-trip__slider {
  width: 50%;
  margin-left: auto;
}

.our-trip__inner {
  position: relative;
}

.our-trip__container {
  max-width: 1230px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 0 15px;
}

.our-trip__title span {
  margin-left: 240px;
}

.our-trip__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.our-trip__list {
  margin: 5px 0;
  font-size: 24px;
  line-height: 28px;
}

.our-trip__list li:first-child {
  margin-bottom: 20px;
  font-family: "RobotoCondensed-Regular";
}

.our-trip__btn {
  font-family: "RobotoCondensed-Light";
  font-size: 24px;
  line-height: 28px;
  border: 1px solid #e2ab3f;
  padding: 11px 53px;
}

.our-trip__content {
  width: 50%;
  padding-right: 55px;
}

.hotel__title span {
  margin-left: 120px;
}

.hotel__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hotel__images {
  margin-right: 100px;
}

.hotel__text {
  margin-bottom: 20px;
}

.hotel__gallery {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hotel__gallery a {
  margin-top: 50px;
}
/*# sourceMappingURL=style.css.map */